Source: nemiver
Section: universe/gnome
Priority: optional
Maintainer: Daniel Holbach <daniel.holbach@ubuntu.com>
Build-Depends: cdbs, debhelper (>= 5), libglibmm-2.4-dev (>= 2.8.2), libgnomevfs2-dev (>= 2.14), libxml2-dev (>= 2.6.22), libgtkmm-2.4-dev (>= 2.6.0), libgtksourceviewmm-1.0-dev (>= 0.3.0), libsqlite3-dev (>= 3.0), libgtop2-dev (>= 2.14), libvte-dev (>= 0.12.0), libgconf2-dev (>= 2.14.0), intltool (>= 0.35), libboost-dev, libglademm-2.4-dev (>= 2.6.0), gdb, libgnome2-dev (>= 2.14), gnome-doc-utils (>= 0.3.2), libgtkhex0-dev (>= 2.21.4)
Standards-Version: 3.7.2

Package: nemiver
Architecture: any
Section: universe/gnome
Depends: ${shlibs:Depends}, ${misc:Depends}, gdb
Conflicts: nemiver-dev (<< 0.4.0), libnemivercommon0 (<< 0.4.0), libnemivercommon-dev (<< 0.4.0)
Replaces: nemiver-dev (<< 0.4.0), libnemivercommon0 (<< 0.4.0), libnemivercommon-dev (<< 0.4.0)
Description: graphical debugger for GNOME
 Nemiver is an project to write a standalone graphical debugger that 
 integrates well in the GNOME desktop.
 It uses the well known GNU Debugger gdb.
