Source: nemiver
Section: devel
Priority: optional
Maintainer: Hubert Figuiere <hunb@figuiere.net>
Build-Depends: debhelper (> 5.0.0), cdbs, libgtksourceviewmm-1.0-dev (>= 0.1.0), libsqlite3-dev, libvte-dev (>= 0.12), libgconf2-dev (>= 2.14.0), libglademm-2.4-dev (>= 2.6.0), libgtop2-dev (>=2.14), libgnome-vfsmm-2.6-dev (>= 2.14), gdb (>= 6), libxml-parser-perl, libboost-dev
Standards-Version: 3.7.2

Package: nemiver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gdb (>= 6)
Description: A Gtk frontend to GDB debugger.
 Nemiver is a Gtk frontend to the GNU Debugger gdb.
 .
 http://home.gna.org/nemiver/
